<h1>Registro de Ventas</h1>

<!-- Formulario facturas -->

<form [formGroup]="formulario" class="formulario">
    <div class="grid encuadre">
        <div class="col-12">
            <div class="grid">
                <div class="col-3">
                    <div class="p-inputgroup" [style] ="{'margin-bottom': '2em'}">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText placeholder="Turno" formControlName="turno">         
                    </div>
                </div>
                <div class="col-3">
                    <div class="p-inputgroup" [style] ="{'margin-bottom': '2em'}">
                        <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
                        <input type="date" pInputText placeholder="Fecha" formControlName="fecha">         
                    </div>
                </div>
                <div class="col-3">
                    <div class="p-inputgroup" [style] ="{'margin-bottom': '2em'}">
                        <span class="p-inputgroup-addon">€</span>
                        <input type="number" min="0" pInputText placeholder="Efectivo" formControlName="efectivo">         
                    </div>
                </div>
                <div class="col-3">
                    <div class="p-inputgroup" [style] ="{'margin-bottom': '2em'}">
                        <span class="p-inputgroup-addon">€</span> 
                        <input type="number" min="0" pInputText placeholder="Tarjeta" formControlName="tarjeta">       
                    </div>
                </div>
                <p-button label="Registrar venta" icon="pi pi-check" iconPos="right" (click)="onSubmit()"></p-button>
            </div>
        </div>
    </div>
</form>

<!-- Separador -->

<div class="separador"></div>

<!-- Información facturas -->

<div class="card">
    <h2>Ventas registradas</h2>
    <p-table [value]="ventas">
        <ng-template pTemplate="header">
            <tr class="cabecera">
                <th pSortableColumn="turno">Turno <p-sortIcon field="turno"></p-sortIcon></th>
                <th pSortableColumn="fecha">Fecha <p-sortIcon field="fecha"></p-sortIcon></th>
                <th pSortableColumn="efectivo">Efectivo <p-sortIcon field="efectivo"></p-sortIcon></th>
                <th pSortableColumn="tarjeta">Tarjeta <p-sortIcon field="tarjeta"></p-sortIcon></th>
                <th pSortableColumn="total">Total <p-sortIcon field="total"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-venta>
            <tr>
                <td>{{venta.turno | titlecase}}</td>
                <td>{{venta.fecha}}</td>
                <td>{{venta.efectivo}}</td>
                <td>{{venta.tarjeta}}</td>
                <td>{{venta.total | currency: 'EUR'}}</td>
                <button pButton type="button" icon="pi pi-trash" class="p-button-raised p-button-rounded p-button-danger" (click)="borrarVenta(venta)"></button>
            </tr>
        </ng-template>
    </p-table>
</div>