h2{
  text-align: center;
}
h3{
  color: rgb(32, 25, 54);
  font-weight: bold;
}

h4{
  color: rgb(0, 141, 24);
}

.header{
  padding: 0;
  max-height: 20px;
}


.card {
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px grey;
}

.info{
  position: relative;
}


