::ng-deep .p-panel-header {
  background-color: white !important;
}

::ng-deep .p-panel-footer {
  padding: 0 !important;
  background-color: rgb(252, 0, 0) !important;
}

img{
  width: 10%;
}

.footer {
  margin: 0;
  border: 2px solid black;
  color: white;
}

.footer div {
  display: flex;
  width: 33%;
  justify-content: center;
  text-align: center;
}
