::ng-deep .p-panel-header {
  background-color: rgb(102, 94, 94) !important;
}

::ng-deep .p-panel-footer {
  padding: 0 !important;
  background-color: rgb(102, 94, 94) !important;
}

.header-logo{
  width: 25%;
  background-color: rgb(102, 94, 94);
}

.footer {
  margin: 0;
  border: 2px solid black;
  color: white;
}

.footer div {
  display: flex;
  width: 33%;
  justify-content: center;
  text-align: center;
}

.footer-img{
  width: 10%;
}

