<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matters</title>
</head>

<body>
    <p-panel>
        <ng-template pTemplate="header">
            <div class="grid">
                <div class="col-12">
                    <img class="img" src="../assets/matters.png" alt="Logo Matters">
                </div>
                <div class="grid botones">
                    <div class="col-4">
                        <button pButton type="button" label="Ventas" class="p-button-success boton"
                            [routerLink]="['/formulario-ventas']" routerLinkActive="active" (click)="quitaInicio()"></button>
                    </div>
                    <div class="col-4">
                        <button pButton type="button" label="Facturas" class="p-button-danger boton"
                            [routerLink]="['/formulario-facturas']" routerLinkActive="active" (click)="quitaInicio()"></button>
                    </div>
                    <div class="col-4">
                        <button pButton type="button" label="Estadísticas" class="p-button-warning boton"
                            [routerLink]="['/estadisticas']" routerLinkActive="active" (click)="quitaInicio()"></button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="body" class="template flex align-items-right justify-content-end">
            <div *ngIf="mostrar" class="grid">
                <div class="col-12">
                    <h1>Bienvenid@ a MatterAccounting</h1>
                </div>
                <div class="col-12">
                    <img class="flecha" src="../assets/flecha.png" alt="Indicador Botones">
                </div>
                <div class="col-12">
                    <h2>Pulsa en los botones superiores para empezar a registrar tu información</h2>
                </div>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <div class="grid footer">
                <div class="col-4">
                    <h3>David Rodríguez - Barbero Verdera</h3>
                </div>
                <div class="col-4">
                    <img class="footer-img" src="../assets/logo.png" alt="logopequeño">
                </div>
                <div class="col-4">
                    <h4> &#9400; All rights reserved</h4>
                </div>
            </div>
        </ng-template>
        <router-outlet></router-outlet>
    </p-panel>
</body>

</html>