p {
  font-size: 1.8rem;
  font-weight: bold;
  color: crimson;
  text-align: center;
  font-family: 'Microgramma D OT Extended', sans-serif;
}

:host ::ng-deep .p-chip.custom-chip {
  background: var(--primary-color);
  color: var(--primary-color-text);
}

.help {
  font-size: 1.3em;
  color: black;
}
