p {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: rgb(255, 0, 0);
  margin-bottom: 30px;
}
h2 {
  color: crimson;
}

span {
  padding: 11px;
  margin: 0;
}


.separador {
  height: 30px;
  border-bottom: 2px solid grey;
}

.cabecera {
  font-size: 1.4em;
  font-weight: bold;
  border: 2px solid black;
}

.encuadre {
  border: 1px solid black;
  box-shadow: 0px 0px 5px 5px grey;
}

.formEdit > div {
  margin: 2%;
}

.product-item {
  .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: 0.3rem;
    text-align: center;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-image {
    width: 8em;
    height: 8em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

.image {
  max-width: 50%;
}

.avatar{
  display: flex;
  align-items: center;
  justify-content: center;
}

